.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  background-color: #dddddd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(59, 59, 59);
  padding: 2em;
}

.board-container {
  display: flex;
  border: 2px solid green;
}

.column {
  border: 2px solid brown;
  display: flex;
  flex-direction: column;
}

.issue-card {
  border: 2px solid white;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
}

.issue-modal {
  position: fixed;
  max-width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid orange;;
  border-radius: 5px;
  background-color: black;
  text-align: center;
  z-index: 99;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #575c64;
  opacity: 50%;
  z-index: 98;
}